################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Financiamento.Database/v16/.suo
/src/Financiamento.Database/bin/Debug
/src/Financiamento.Database/obj/Debug
/src/Financiamento.Database/Financiamento.Database.sqlproj.user
